<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectname.dao.mg.fcss.BasTwcaMapper">
  <resultMap id="BaseResultMap" type="projectname.vo.mg.fcss.BasTwca">
    <id column="BAS_TWCA_ID" jdbcType="DECIMAL" property="basTwcaId" />
    <result column="BAS_ORG_ID" jdbcType="DECIMAL" property="basOrgId" />
    <result column="TOKEN_TYPE" jdbcType="VARCHAR" property="tokenType" />
    <result column="TWCA_NO" jdbcType="VARCHAR" property="twcaNo" />
    <result column="TWCA_DES" jdbcType="VARCHAR" property="twcaDes" />
    <result column="IS_ENABLED" jdbcType="VARCHAR" property="isEnabled" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="DECIMAL" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BAS_TWCA_ID, BAS_ORG_ID, TOKEN_TYPE, TWCA_NO, TWCA_DES, IS_ENABLED, CREATED_BY, CREATED_AT, 
    UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FCSS.BAS_TWCA
    where BAS_TWCA_ID = #{basTwcaId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from FCSS.BAS_TWCA
    where BAS_TWCA_ID = #{basTwcaId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="projectname.vo.mg.fcss.BasTwca">
    insert into FCSS.BAS_TWCA (BAS_TWCA_ID, BAS_ORG_ID, TOKEN_TYPE, 
      TWCA_NO, TWCA_DES, IS_ENABLED, 
      CREATED_BY, CREATED_AT, UPDATED_BY, 
      UPDATED_AT)
    values (#{basTwcaId,jdbcType=DECIMAL}, #{basOrgId,jdbcType=DECIMAL}, #{tokenType,jdbcType=VARCHAR}, 
      #{twcaNo,jdbcType=VARCHAR}, #{twcaDes,jdbcType=VARCHAR}, #{isEnabled,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=DECIMAL}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="projectname.vo.mg.fcss.BasTwca">
    insert into FCSS.BAS_TWCA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="basTwcaId != null">
        BAS_TWCA_ID,
      </if>
      <if test="basOrgId != null">
        BAS_ORG_ID,
      </if>
      <if test="tokenType != null">
        TOKEN_TYPE,
      </if>
      <if test="twcaNo != null">
        TWCA_NO,
      </if>
      <if test="twcaDes != null">
        TWCA_DES,
      </if>
      <if test="isEnabled != null">
        IS_ENABLED,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="basTwcaId != null">
        #{basTwcaId,jdbcType=DECIMAL},
      </if>
      <if test="basOrgId != null">
        #{basOrgId,jdbcType=DECIMAL},
      </if>
      <if test="tokenType != null">
        #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="twcaNo != null">
        #{twcaNo,jdbcType=VARCHAR},
      </if>
      <if test="twcaDes != null">
        #{twcaDes,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="projectname.vo.mg.fcss.BasTwcaExample" resultType="java.lang.Long">
    select count(*) from FCSS.BAS_TWCA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FCSS.BAS_TWCA
    <set>
      <if test="row.basTwcaId != null">
        BAS_TWCA_ID = #{row.basTwcaId,jdbcType=DECIMAL},
      </if>
      <if test="row.basOrgId != null">
        BAS_ORG_ID = #{row.basOrgId,jdbcType=DECIMAL},
      </if>
      <if test="row.tokenType != null">
        TOKEN_TYPE = #{row.tokenType,jdbcType=VARCHAR},
      </if>
      <if test="row.twcaNo != null">
        TWCA_NO = #{row.twcaNo,jdbcType=VARCHAR},
      </if>
      <if test="row.twcaDes != null">
        TWCA_DES = #{row.twcaDes,jdbcType=VARCHAR},
      </if>
      <if test="row.isEnabled != null">
        IS_ENABLED = #{row.isEnabled,jdbcType=VARCHAR},
      </if>
      <if test="row.createdBy != null">
        CREATED_BY = #{row.createdBy,jdbcType=DECIMAL},
      </if>
      <if test="row.createdAt != null">
        CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedBy != null">
        UPDATED_BY = #{row.updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="row.updatedAt != null">
        UPDATED_AT = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FCSS.BAS_TWCA
    set BAS_TWCA_ID = #{row.basTwcaId,jdbcType=DECIMAL},
      BAS_ORG_ID = #{row.basOrgId,jdbcType=DECIMAL},
      TOKEN_TYPE = #{row.tokenType,jdbcType=VARCHAR},
      TWCA_NO = #{row.twcaNo,jdbcType=VARCHAR},
      TWCA_DES = #{row.twcaDes,jdbcType=VARCHAR},
      IS_ENABLED = #{row.isEnabled,jdbcType=VARCHAR},
      CREATED_BY = #{row.createdBy,jdbcType=DECIMAL},
      CREATED_AT = #{row.createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{row.updatedBy,jdbcType=DECIMAL},
      UPDATED_AT = #{row.updatedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="projectname.vo.mg.fcss.BasTwca">
    update FCSS.BAS_TWCA
    <set>
      <if test="basOrgId != null">
        BAS_ORG_ID = #{basOrgId,jdbcType=DECIMAL},
      </if>
      <if test="tokenType != null">
        TOKEN_TYPE = #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="twcaNo != null">
        TWCA_NO = #{twcaNo,jdbcType=VARCHAR},
      </if>
      <if test="twcaDes != null">
        TWCA_DES = #{twcaDes,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        IS_ENABLED = #{isEnabled,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BAS_TWCA_ID = #{basTwcaId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="projectname.vo.mg.fcss.BasTwca">
    update FCSS.BAS_TWCA
    set BAS_ORG_ID = #{basOrgId,jdbcType=DECIMAL},
      TOKEN_TYPE = #{tokenType,jdbcType=VARCHAR},
      TWCA_NO = #{twcaNo,jdbcType=VARCHAR},
      TWCA_DES = #{twcaDes,jdbcType=VARCHAR},
      IS_ENABLED = #{isEnabled,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where BAS_TWCA_ID = #{basTwcaId,jdbcType=DECIMAL}
  </update>
</mapper>